 .rowMovie{


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
     flex-direction: row;
align-items:  flex-start; 

 }; 


 .columnMovie{


    display: flex;
    flex-wrap: wrap;
     flex-direction: column;
align-items: center;




 
    
} 