

    .container{


        
        
            width: 25%;


            margin-top: 5%;

            border: 1px solid black;






        } 
        .more{
            color: red;
        }
        .more:hover {
            
            cursor: pointer;
        }
        .hide{
            display: none;
        }
        .show{
            display: block;
        }


        .leftarrow{


            width: 7%;
        }

        
        .rightarrow{


            width: 7%;

        }


        .delete{


            width: 7%;
            margin-left: 90%;
            
        }


        .img{width: 100%;}