

    .container{


        
        
            width: 25%;


            margin-top: 5%;

            padding: 5px;

            border: 5px solid black;








        };
/*         
        .columnContainer{


        
        
            width: 40%;


            margin-top: 5%;

            padding: 5px;

            border: 5px solid black;

            






        } */
        .more{
            color: red;
        }
        .more:hover {
            
            cursor: pointer;
        }
        .hide{
            display: none;
        }
        .show{
            display: block;
        }


        .leftarrow{


            width: 7%;
        }

        
        .rightarrow{


            width: 7%;

        }


        .delete{


            width: 7%;
            margin-left: 90%;
            
        }


        .img{width: 100%;}